<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>signup</title>
  </head>
  <body>
    <h1>sign up page</h1>
    <div>
        <form method="POST" action="/user">
            <label>Full Name</label>
            <input type="text" required name="name" />  
            <label>Email</label>
            <input type="text" required name="email" />  
            <label>Password</label>
            <input type="text" required name="password" />  

            <button type="submit"> Sign Up </button>
        </form>
    </div>
  </body>
</html>